<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
        <title>User Management System</title>
        <link rel="stylesheet" href="/css/style.css" />
        <script>
            window.onunload = function() {
                window.history.replaceState(null, '', window.location.href);
            };
    
            if (performance.navigation.type === 2) {
                location.reload(true);
            }
        </script>
    </head>
    <body>
        <%- body %>
    </body>
</html>
